<template>
  <div class="row">
    <app-stock v-for="stock in stocks" :stock="stock" :key="stock.id + 55"></app-stock>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Stock from "./Stock";
export default {
  computed: {
    ...mapGetters({
      stocks: 'stockPortfolio'
    })
  },
  components: {
    'app-stock': Stock
  }
};
</script>

<style lang="scss">
.row  {
  width: 100%;
}
</style>
