<template>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{stock.name}}
          <small>(Price: {{stock.price | currency}})</small>
        </h3>
      </div>
      <div class="panel-body">
        <div class="pull-left">
          <input type="number" v-model="quantity" :class="{'danger': inssuficentFounds}" class="form-control" placeholder="Quantity">
        </div>
        <div class="pull-right">
          <button @click="buyStock" :disabled="inssuficentFounds || quantity <= 0" class="btn btn-success">Buy</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["stock"],
  data() {
    return {
      quantity: 0
    }
  },
  computed: {
    founds() {
      return this.$store.getters.founds;
    },
    inssuficentFounds() {
      return this.quantity * this.stock.price > this.founds;
    }
  },
  methods: {
    buyStock() {
      const order = {
        stockId: this.stock.id,
        stockPrice: this.stock.price,
        quantity: this.quantity
      };
      this.$store.dispatch('buyStock', order);
      this.quantity = 0;
    }
  }
};
</script>

<style scoped>
.danger {
  border: 1px solid red;
}
</style>
