<template>
  <div class="home">
    <app-slider></app-slider>
    <h1>Trade or View your Portfolio</h1>
    <h6>You may Save & Load your Data</h6>
    <h6>Click on 'End Day' to begin a New Day!</h6>
    <br>
    <p>Your Founds: {{ founds }}$</p>
    <br>
  </div>
</template>

<script>
import Slider from "../components/slider/Slider";

export default {
  components: {
    'app-slider': Slider
  },
  computed: {
    founds() {
      return this.$store.getters.founds;
    }
  },
};
</script>
<style lang="scss">
.home {
  width: 100%;
}
</style>

