<template>
  <div class="modal-template">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <h3 name="header">Registration</h3>
          </div>
          <div class="modal-body">
            <form class="form-group" @submit.prevent="onSubmit">
              <label for="email">Mail</label>
              <input
                type="text"
                @blur="$v.email.$touch()"
                class="form-control"
                :class="{'invalid': $v.email.$error}"
                id="email"
                v-model="email"
              >
              <p v-if="!$v.email.email">Please provide a valid email address.</p>
              <p v-if="!$v.email.required">Fields are required.</p>
              <label for="age">Your Age</label>
              <input
                class="form-control"
                :class="{'invalid': $v.age.$error}"
                @blur="$v.age.$touch()"
                id="age"
                v-model.number="age"
              >
              <p v-if="!$v.age.minVal">Min val is {{$v.age.$params.minVal.min}}</p>
              <label for="password">Password</label>
              <input
                type="password"
                @blur="$v.password.$touch()"
                :class="{'invalid': $v.password.$error}"
                id="password"
                class="form-control"
                v-model="password"
              >
              <label for="confirmPassword">Confirm Password</label>
              <input
                type="password"
                @blur="$v.confirmPassword.$touch()"
                :class="{'invalid': $v.confirmPassword.$error}"
                id="confirmPassword"
                class="form-control"
                v-model="confirmPassword"
              >
              <p v-if="!$v.confirmPassword.sameAs">Confirm password doesnot match.</p>
              <label for="country">Country</label>
              <select class="form-control" id="country" v-model="country">
                <option value="usa">USA</option>
                <option value="india">India</option>
                <option value="uk">UK</option>
                <option value="germany">Germany</option>
              </select>
              <h3>Add some Hobbies</h3>
              <button class="btn btn-default" @click="onAddHobby">Add Hobby</button>
              <div class="hobby-list">
                <div class="input" v-for="(hobbyInput, index) in hobbyInputs" :key="hobbyInput.id">
                  <label :for="hobbyInput.id">Hobby #{{index}}</label>
                  <input
                    type="text"
                    @blur="$v.hobbyInputs.$each[index].value.$touch()"
                    :id="hobbyInput.id"
                    :class="{'invalid': $v.hobbyInputs.$each[index].$error}"
                    v-model="hobbyInput.value"
                  >
                  <button class="btn btn-default" @click="onDeleteHobby(hobbyInput.id)">X</button>
                  <p v-if="!$v.hobbyInputs.minLen">You have to specify at least {{$v.hobbyInputs.$params.minLen.min}} hobbies}</p>
                </div>
              </div>
              <label id="terms">Terms</label>
              <input
                type="checkbox"
                @change="$v.terms.$touch()"
                class="form-control"
                id="terms"
                v-model="terms"
              >
              <p v-if="$v.terms.$invalid">You must agree with terms.</p>
            </form>
          </div>

          <div class="modal-footer">
            <button :disabled="$v.$invalid" class="btn btn-success" @click="register">Register</button>
            <button class="btn btn-default" @click="closeModal('closeModal')">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import {
  required,
  email,
  numeric,
  minValue,
  minLength,
  sameAs,
  requiredUnless
} from "vuelidate/lib/validators";
export default {
  data() {
    return {
      email: "",
      age: null,
      password: "",
      confirmPassword: "",
      country: "",
      hobbyInputs: [],
      terms: false
    };
  },
  validations: {
    email: {
      required,
      email
    },
    age: {
      required,
      numeric,
      minVal: minValue(18)
    },
    password: {
      required,
      minLen: minLength(6)
    },
    confirmPassword: {
      required,
      //   sameAs: sameAs('password')
      sameAs: sameAs(vm => {
        return vm.password;
      })
    },
    terms: {
      required: requiredUnless(vm => {
        return vm.country === "germany";
      })
    },
    hobbyInputs: {
      required,
      minLen: minLength(2),
      $each: {
        value: {
          required,
          minLen: minLength(5)
        }
      }
    }
  },
  methods: {
    ...mapActions(["showModal", "showToast"]),
    closeModal() {
      this.showModal(false);
    },
    register() {
      this.showModal(false);
      this.showToast(true);
    },
    onAddHobby() {
      const newHobby = {
        id: Math.random() * Math.random() * 1000,
        value: ""
      };
      this.hobbyInputs.push(newHobby);
    },
    onDeleteHobby(id) {
      this.hobbyInputs = this.hobbyInputs.filter(e => e.id !== id);
    },
    onSubmit() {}
  }
};
</script>

<style lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.5s ease-out;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}
.invalid {
  border: 1px solid red;
}
</style>
