<template>
  <div class="header">
    <div class="container">
      <router-link class="navbar-brand" exact activeClass="active" :to="'/'">Home</router-link>
      <router-link class="navbar-brand" activeClass="active" :to="'/stocks'">Stocks</router-link>
      <router-link class="navbar-brand" activeClass="active" :to="'/portfolio'">Portfolio</router-link>
      <div class="search">
        <input
          type="text"
          class="search__input"
          @input="getSearchedResults"
          placeholder="Search..."
        >
        <div class="lds-ellipsis" v-if="loading">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <i class="search__icon ion-ios-search-strong"></i>
        <transition name="slide" mode="out-in">
          <div class="search__list" v-if="isSearchBarOpen">
            <div class="search__list--header">
              <div class="search__list--title">RECENT SEARCHES</div>
              <div @click="isSearchBarOpen = false" class="search__list--close">
                <i class="user-nav__icon ion-ios-close"></i>
              </div>
            </div>
            <div
              v-for="val in searchResult"
              :key="val.value"
              class="search__list--item"
              @click="navigateTo(val.id)"
            >
              <img class="search__list--item-img" :src="val.img" alt="avatar">
              <span class="search__list--item-title">{{val.value}}</span>
            </div>
          </div>
        </transition>
      </div>
      <div class="user-nav">
        <div class="user-nav__icon-box">
          <i class="user-nav__icon ion-ios-chatbubble"></i>
          <span class="user-nav__notification">7</span>
        </div>
        <div class="user-nav__icon-box">
          <i class="user-nav__icon ion-android-notifications"></i>
          <span class="user-nav__notification">7</span>
        </div>
        <div
          class="user-nav__icon-box"
          :class="{'active-nav': isDropDownOpen }"
          @click="isDropDownOpen = !isDropDownOpen"
        >
          <i class="user-nav__icon ion-person-stalker"></i>
          <transition name="slide" mode="out-in">
            <div class="user-nav__profile" v-if="isDropDownOpen">
              <div class="user-nav__profile--item" @click="fetchData">Fetch Data</div>
              <div class="user-nav__profile--item" @click="saveData">Save Data</div>
              <div class="user-nav__profile--item" @click="register">Register</div>
            </div>
          </transition>
        </div>
        <div class="user-nav__icon-box" @click="endDay">
          <i class="user-nav__icon ion-android-playstore"></i>
          <span class="user-nav__notification">1</span>
        </div>
        <div class="user-nav__icon-box">
          <strong class="user-nav__cash">{{ founds | currency }}</strong>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import _ from "lodash";
export default {
  data() {
    return {
      isDropDownOpen: false,
      isSearchBarOpen: false,
      displayModal: false,
      loading: false,
      searchResult: []
    };
  },
  computed: {
    ...mapGetters({
      founds: "founds",
      stockPortfolio: "stockPortfolio",
      stocks: "stocks"
    }),
    founds() {
      return this.$store.getters.founds;
    }
  },
  methods: {
    ...mapActions(["randomizeStocks", "loadData", "showModal"]),
    getSearchedResults: _.debounce(function(e) {
      if (e.target.value.length === 0) {
        this.isSearchBarOpen = false;
        this.searchResult = [];
      } else {
        this.loading = true;
        this.$http.get(`search.json`).then(data => {
          if (data) {
            this.searchResult = data.body;
            this.isSearchBarOpen = true;
            this.loading = false
          }
        });
      }
    }, 500),
    endDay() {
      this.randomizeStocks();
    },
    saveData() {
      const data = {
        founds: this.founds,
        stockPortfolio: this.stockPortfolio,
        stocks: this.stocks
      };
      this.$http.put("data.json", this.searchResult);
    },
    fetchData() {
      this.loadData();
    },
    register() {
      this.displayModal = true;
      this.showModal(this.displayModal);
    },
    navigateTo(param) {
      this.isSearchBarOpen = false;
      this.$router.push(param);
    }
  }
};
</script>

<style lang="scss">
.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center;
  background-color: #fff;
  & > * {
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    height: 100%;
  }
  & > *:hover &__icon {
    color: #3cb371;
  }
  &__profile {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    box-shadow: 0 10px 20px grey;
    background-color: whitesmoke;
    height: 200px;
    width: 100px;
    border-radius: 5px;
    top: 40px;
    right: 12px;
    z-index: 1;
    &--item {
      height: 25px;
      margin: 5px;
      color: grey;
      font-size: 16px;
      border-bottom: 1px solid lightgrey;
      transition: all 0.1s;
      flex: 0 0 auto;
    }
    &--item:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.05);
      text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);
    }
  }
  &__cash {
    color: green;
    transition: 0.3s all ease-out;
    opacity: 0;
  }
  &__icon-box {
    position: relative;
  }
  &__icon-box:nth-child(4):hover + &__icon-box {
    .user-nav__cash {
      opacity: 1;
    }
  }
  &__icon-box:nth-child(5):hover {
    cursor: default;
  }
  &__icon {
    transition: 0.3s all;
    font-size: 25px;
    fill: darkgrey;
  }
  &__notification {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 8px;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: rgb(199, 52, 52);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.search {
  position: relative;
  flex: 0 0 40%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;

  &__list {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 5px;
    box-shadow: 0 10px 20px grey;
    display: flex;
    background-color: white;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
    margin-right: -20px;
    overflow: hidden;
    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: whitesmoke;
      height: 35px;
      border-bottom: 1px solid lightgrey;
    }
    &--close {
      cursor: pointer;
      margin-right: 10px;
    }
    &--title {
      margin-left: 10px;
      font-weight: bold;
      font-size: 10px;
    }
    &--item {
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      cursor: pointer;
      &-img {
        width: auto;
        height: 30px;
      }
      &-title {
        margin-left: 5px;
        font-size: 17px;
      }
    }
    &--item:hover {
      background-color: #e9ebee;
    }
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f0f0f0;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: 0.3s all;
    height: 30px;
    margin-right: -20px;

    &:focus {
      outline: none;
      width: 100%;
      background-color: #f7f5f5;
    }
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: #787878;
    }
  }
}

.navbar-menu {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.navbar-brand {
  color: green;
  transition: all 0.3s;
}
.navbar-brand:hover {
  transform: scale(1.2);
  color: green;
}
.nav-item {
  color: green;
}
.active-nav {
  color: green;
}
.slide-enter-active {
  animation: slide-in 0.2s ease-out forwards;
}
.slide-leave-active {
  animation: slide-out 0.2s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-out {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}
</style>
