<template>
  <div class="toast">
    <div class="toast__header">
      <button class="toast__header--close">
        <i class="toast__icon--close ion-android-close"></i>
      </button>
    </div>
    <div class="toast__body">
      <div class="toast__body--left">
        <i class="toast__icon--body ion-flame"></i>
      </div>
      <div class="toast__body--right">
        <p class="toast__body--right-message">Congratulations ! you have successfully registered.</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.toast {
  position: absolute;
  display: flex;
  width: 300px;
  height: 80px;
  background-color: #51a351;
  border-radius: 5px;
  bottom: 0;
  right: 0;
  margin: 20px;
  flex-direction: column;
  &__body {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: row;
    &--right {
      margin-top: 5px;
      padding: 10px;
      &-message {
        color: whitesmoke;
        font-size: 18px;
      }
    }
    &--left {
      margin-left: 10px;
    }
  }
  &__icon--close {
    font-size: 20px;
  }
  &__icon--body {
    font-size: 50px;
    color: whitesmoke;
  }
  &__header {
    position: absolute;
    align-self: flex-end;
    padding-right: 5px;
    &--close {
      color: whitesmoke;
      transition: 0.3s all;
    }
    &--close:hover {
      transform: rotateY(-45deg);
    }
  }
}
</style>
