<template>
  <div id="app">
    <app-header></app-header>
    <div class="container">
      <transition name="slide" mode="out-in">
        <router-view/>
      </transition>
    </div>
    <transition name="fade" mode="out-in">
      <app-modal v-if="modalState"></app-modal>
    </transition>
    <transition name="slide" mode="out-in">
      <app-toast v-if="toastState"></app-toast>
    </transition>
  </div>
</template>
<script>
import Header from "./components/Header";
import Modal from "./components/modal/Modal";
import Toast from "./components/Toast";
import { mapActions, mapGetters } from "vuex";
export default {
  components: {
    "app-header": Header,
    "app-modal": Modal,
    "app-toast": Toast
  },
  computed: {
    ...mapGetters(["modalState", "toastState"])
  },
  methods: {
    ...mapActions(["showToast"])
    // closeToast() {
    //   this.showToast(false);
    // }
  },
  created() {
    this.$store.dispatch("initStocks");
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
    transition: border 0.6s linear;
  }
}
.active {
  border-bottom: 2px solid lightgreen;
}
ul {
  list-style-type: none;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #ccc;
}
.color-primary {
  color: green;
}
.slide-enter-active {
  animation: slide-in 0.3s ease-out forwards;
}
.slide-leave-active {
  animation: slide-out 0.3s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-out {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-enter-active {
  animation: fade-in 0.2s ease-out forwards;
}
.fade-leave-active {
  animation: fade-out 0.2s ease-out forwards;
}
.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 0px;
  top: -7px;
  right: 70px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: green;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
</style>
