<template>
  <v-carousel>
    <v-carousel-item v-for="(item, i) in sliderList" :key="item.id + i" v-bind:src="item.src">
      <div class="carousel-title">{{item.title}}</div>
    </v-carousel-item>
  </v-carousel>
</template>
<script>
export default {
  data() {
    return {
      sliderList: [
        {
          id: 1,
          src:
            "https://cdn.pixabay.com/photo/2017/08/03/10/25/peyto-lake-2575418_960_720.jpg",
          alt: "1",
          title: "Title 1 Title 1"
        },
        {
          id: 2,
          src:
            "https://www.gettyimages.com/gi-resources/images/500px/983794168.jpg",
          alt: "2",
          title: "Title 2 Title 2"
        },
        {
          id: 3,
          src:
            "https://www.planwallpaper.com/static/images/nasas-images-of-most-remarkable-events-you-cant-miss.jpg",
          alt: "3",
          title: "Title 3 Title 3"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.color-primary:hover {
  text-decoration: none;
}
.carousel-title {
  color: whitesmoke;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
}
</style>
